.cable{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    width:15px ;
    height:150px ;
    margin: auto;
}
.semaforo{
    border-radius: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    width: 100px;
    height: 250px;
    margin: auto ;

}

.luz{
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 50px;
    height: 50px;
    margin:auto;

}

.rojo{
    background-color: red;
}

.amarillo{
    background-color: yellow;
}

.verde{
    background-color: green;
}

.on{
box-shadow: -4px 4px 27px 21px rgba(245,240,172,1);
-webkit-box-shadow: -4px 4px 27px 21px rgba(245,240,172,1);
-moz-box-shadow: -4px 4px 27px 21px rgba(245,240,172,1);
}